<nav class="navbar">
  <ul class="nav-content">
    <li class="nav-list">
      <a href="home" class="link-item home-link">
        <img class="link-icon" src="/images/ui/home.png" />
        <span class="link-text">Home</span>
      </a>
    </li>
    <li class="nav-list">
      <a href="cart" class="link-item cart-link">
        <img class="link-icon" src="/images/ui/cart.png" />
        <span class="link-text">Cart</span>
      </a>
    </li>
    <li class="nav-list">
      <a href="login" class="link-item logout">
        <img class="link-icon" src="/images/ui/logout.png" />
        <span class="link-text"></span>
      </a>
    </li>
    <li class="nav-list">
      <a href="message" class="link-item message-link">
        <img class="link-icon" src="/images/ui/message.png" />
        <span class="link-text">Message</span>
      </a>
    </li>
    <li class="nav-list">
      <a href="profile" class="link-item profile-link">
        <img class="link-icon" src="/images/ui/profile.png" />
        <span class="link-text">Profile</span>
      </a>
    </li>
    <span class="indicator"></span>
  </ul>
</nav>