<div class="d-flex flex-wrap justify-content-center">
  <div class="order-summary">
    <h3 class="order-color custom-text text-center">Order Summary</h3>
    <div class="order-summary-section">
      <span class="order-color span-text ml-2">Subtotal</span>
      <span class="order-color subtotal span-text">195฿</span>
    </div>
    <div class="order-summary-section">
      <span class="order-color span-text ml-2">Delivery Charge</span>
      <span class="order-color delivery-charge span-text">20฿</span>
    </div>
    <div class="order-summary-section">
      <span class="order-color span-text ml-2">Discount</span>
      <span class="order-color discount span-text">0฿</span>
    </div>
    <img src="/images/ui/line.png" class="logo mt-2 mb-1 ml-2 mr-2" />
    <div class="order-summary-section confirm">
      <span class="order-color span-text ml-2">Total</span>
      <span class="order-color total span-text">215฿</span>
    </div>
    <form action="/address" method="GET">
      <button type="submit" id="confirm-order-btn" class="confirm-btn">Confirm My Order</button>
    </form>
  </div>
</div>