<div class="col-md-12">
  <div class="search-bar d-flex justify-content-between align-items-center p-6">
    <div class="d-flex justify-content-between align-items-center">
      <input
        type="text"
        id="search-input"
        class="form-control"
        placeholder="Search for menu..."
      />
      <button
        type="button"
        id="search-button"
        class="btn btn-primary search-button"
      >
        Search 🔍
      </button>
      <button
        class="btn btn-primary dropdown-toggle category"
        type="button"
        id="dropdownMenuButton"
        data-toggle="dropdown"
      >
        <img src="/images/ui/transparent.png" class="transparent" />
      </button>
      <div
        class="dropdown-menu dropdown-menu"
        aria-labelledby="dropdownMenuButton"
      >
        <!-- Dropdown Items -->
        <a class="dropdown-item text-center" href="#" data-category="all"
          >All food</a
        >
        <a class="dropdown-item text-center" href="#" data-category="main"
          >Main dish</a
        >
        <a class="dropdown-item text-center" href="#" data-category="appetizer"
          >Appetizer/Dessert</a
        >
        <a class="dropdown-item text-center" href="#" data-category="drinks"
          >Drinks</a
        >
        <a class="dropdown-item text-center" href="#" data-category="diet"
          >Diet</a
        >
        <a class="dropdown-item text-center" href="#" data-category="promo"
          >Promotion</a
        >
      </div>
    </div>
  </div>
</div>