<!DOCTYPE html>
<html lang="en">
  <head>
    <title>Address</title>
    <meta charset="UTF-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no"/>
    <!-- CSS & Bootstrap -->
    <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/4.0.0/css/bootstrap.min.css"/>
    <link rel="stylesheet" href="/css/navbar.css"/>
    <link rel="stylesheet" href="/css/address.css"/>
    <link rel="stylesheet" href="/css/mobile/address_mobile.css"/>
    <link rel="stylesheet" href="/css/tablet/address_tablet.css"/>
    <link rel="stylesheet" href="/css/addressinput.css"/>
    <link rel="stylesheet" href="/css/mobile/addressinput_mobile.css"/>
    <link rel="stylesheet" href="/css/tablet/addressinput_tablet.css"/>
  </head>
  <body>
    <!-- Navigation Bar -->
    <%- include ('partials/navbar') %>
    <div class="container-fluid"></div>
      <div class="header-box d-flex justify-content-between align-items-center">
        <a href="cart"><img src="/images/ui/addressback.png" id="back-button"></a>
        <h1 class="bold text-center">Add Address</h1>
      </div>
    </div>
    <div class="d-flex justify-content-between align-items-center">
      <h3 class="bold">Please fill in your delivery information</h3>
    </div>
    <form action="/address" method="post">
      <div class="form-group">
        <input type="text" class="form-control input-1" name="customername" placeholder="Name" id="customername" required>
      </div>
      <div class="form-group">
        <input type="text" class="form-control input-2" name="phoneno" placeholder="Phone No." id="phoneno" required>
      </div>
      <div class="form-group">
        <input type="text" class="form-control input-3" name="addressdt" placeholder="Address details" id="addressdt" required>
      </div>
      <div class="form-group">
        <input type="text" class="form-control input-4" name="zip" placeholder="Zip Code" id="zip" required>
      </div>
      <button type="submit" id="submit-btn" class="btn submit-btn">Submit</button>
    </form>
  </body>
</html>