<!DOCTYPE html>
<html lang="en">
<head>
  <title>Add to Cart Popup</title>
  <meta charset="UTF-8">
  <meta name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no" />
  <!-- CSS & Bootstrap -->
  <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/4.0.0/css/bootstrap.min.css">
  <link rel="stylesheet" href="/css/addtocart.css">
</head>
<body>
  <div id="popup">  
    <h2 id="product-name"></h2>
    <br>
    <h5>Price (ราคา) : <span id="product-price"></span>฿</h5>
    <br>
    <label for="quantity">Quantity (จำนวน) :</label>
    <div id="quantity-selector">
      <button type="button" id="decrease-quantity-btn">-</button>
      <input type="number" id="quantity" value="1" min="1" />
      <button type="button" id="increase-quantity-btn">+</button>
    </div>
    <br>
    <p class="total-price-font">Total Price (ราคาทั้งหมด) : <span id="total-price"></span>฿</p>
    <button id="add-to-cart-confirm-btn">Add to cart</button>
  </div>
  <div id="popup-modal" class="modal">
    <div class="modal-content">
      <span class="close">&times;</span>
      <div id="popup-content"></div>
    </div>
  </div>
  <!-- Scripts -->
  <script src="https://code.jquery.com/jquery-3.5.1.slim.min.js"></script>
  <script src="https://cdn.jsdelivr.net/npm/@fortawesome/fontawesome-free@5.15.1/js/all.min.js"></script>
  <script src="https://cdnjs.cloudflare.com/ajax/libs/popper.js/1.12.9/umd/popper.min.js"></script>
  <script src="https://maxcdn.bootstrapcdn.com/bootstrap/4.0.0/js/bootstrap.min.js"></script>
  <script src="/js/clickon-popup.js"></script>
</body>
</html>