<!DOCTYPE html>
<html lang="en">
  <head>
    <title>My Cart</title>
    <meta charset="UTF-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no"/>
    <!-- CSS & Bootstrap -->
    <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/4.0.0/css/bootstrap.min.css"/>
    <link rel="stylesheet" href="/css/home.css"/>
    <link rel="stylesheet" href="/css/navbar.css"/>
    <link rel="stylesheet" href="/css/orderconfirm.css"/>
  </head>
  <body>
    <!-- Navigation Bar -->
    <%- include ('partials/navbar') %>
    <!-- Header -->
    <div class="container-fluid">
      <div class="row">
        <div class="col-2">
          <div class="header d-flex justify-content-between align-items-center">
            <a href="home"><img src="/images/ui/backbutton.png" id="back-button-cart"></a>
            <h1 class="cart mb-0 ml-4 bold">My Cart</h1>
          </div>
        </div>
      </div>
    </div>
    <!-- Search Bar & Dropdown Menu -->
    <%- include ('partials/searchbar') %>
    <div class="d-flex flex-wrap mt-3 ml-2">
      <div>
        <div class="menu-item card category-selector" data-categories="all main">
          <img src="/images/menu/padthai.jpg" class="card-img-top"/>
            <div class="card-body">
              <h3 class="card-title text-center">Pad Thai</h3>
              <p class="card-text text-center">ผัดไทย</p>
              <p class="card-text text-center">Quantity: 1</p>
              <span class="price d-flex justify-content-center">65฿</span>
            </div>
        </div>
      </div>
      <div class="menu-item card category-selector" data-categories="all appetizer">
        <img src="/images/menu/mangostickyrice.jpg" class="card-img-top"/>
        <div class="card-body">
          <h3 class="card-title text-center">Mango Sticky Rice</h3>
          <p class="card-text text-center">ข้าวเหนียวมะม่วง</p>
          <p class="card-text text-center">Quantity: 2</p>
          <span class="price d-flex justify-content-center">50฿</span>
        </div>
      </div>
      <div class="menu-item card category-selector" data-categories="all drinks">
        <img src="/images/menu/blacktea.jpg" class="card-img-top"/>
        <div class="card-body">
          <h3 class="card-title text-center">Black Tea</h3>
          <p class="card-text text-center">ชาดำ</p>
          <p class="card-text text-center">Quantity: 1</p>
          <span class="price d-flex justify-content-center">30฿</span>
        </div>
      </div>
    </div>
    <div class="d-flex flex-wrap justify-content-center">
      <div class="order-summary">
        <h3 class="order-color custom-text text-center">Order Summary</h3>
        <div class="order-summary-section">
          <span class="order-color span-text ml-2">Subtotal</span>
          <span class="order-color subtotal span-text">195฿</span>
        </div>
        <div class="order-summary-section">
          <span class="order-color span-text ml-2">Delivery Charge</span>
          <span class="order-color delivery-charge span-text">20฿</span>
        </div>
        <div class="order-summary-section">
          <span class="order-color span-text ml-2">Discount</span>
          <span class="order-color discount span-text">0฿</span>
        </div>
        <img src="/images/ui/line.png" class="logo mt-2 mb-1 ml-2 mr-2">
        <div class="order-summary-section confirm">
          <span class="order-color span-text ml-2">Total</span>
          <span class="order-color total span-text">215฿</span>
        </div>
        <form action="/address" method="POST">
          <button type="submit" id="confirm-order-btn" class="confirm-btn">Confirm My Order</button>
        </form>
      </div>
    </div>
    <!-- Scripts -->
    <script src="https://code.jquery.com/jquery-3.5.1.slim.min.js"></script>
    <script src="https://cdn.jsdelivr.net/npm/@fortawesome/fontawesome-free@5.15.1/js/all.min.js"></script>
    <script src="https://cdnjs.cloudflare.com/ajax/libs/popper.js/1.12.9/umd/popper.min.js"></script>
    <script src="https://maxcdn.bootstrapcdn.com/bootstrap/4.0.0/js/bootstrap.min.js"></script>
    <script src="/js/dropdown.js"></script>
    <script src="/js/backbutton-home.js"></script>
    <script src="/js/category-selector.js"></script>
    <script src="/js/search.js"></script>
    <script src="/js/clickon-popup.js"></script>
  </body>
</html>