<!DOCTYPE html>
<html lang="en">
  <head>
    <title>Home</title>
    <meta charset="UTF-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1, viewport-fit=cover"/>
    <!-- CSS & Bootstrap -->
    <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/4.0.0/css/bootstrap.min.css"/>
    <link rel="stylesheet" href="/css/home.css"/>
    <link rel="stylesheet" href="/css/navbar.css"/>
    <link rel="stylesheet" href="/css/addtocart.css"/>
  </head>
  <body>
    <!-- Navigation Bar -->
    <%- include ('partials/navbar') %>
    <!-- Header -->
    <div class="container-fluid">
      <div class="row">
        <div class="col-2">
          <div class="header d-flex justify-content-between align-items-center">
            <a href="login"><img src="/images/ui/backbutton.png" id="back-button"></a>
            <h1 class="mb-0 ml-4 bold">Menu List</h1>
            <a href="home2"><img src="/images/ui/nextbutton.png" id="next-button"></a>
          </div>
        </div>
      </div>
    </div>
    <!-- Search Bar & Dropdown Menu -->
    <%- include ('partials/searchbar') %>
    <!-- Menu Items -->
    <div class="d-flex flex-wrap mt-3 ml-2">
      <div>
        <div class="menu-item card category-selector" data-categories="all main">
          <img src="/images/menu/padthai.jpg" class="card-img-top"/>
          <div class="card-body">
            <h3 class="card-title text-center">Pad Thai</h3>
            <p class="card-text text-center">ผัดไทย</p>
            <span class="price d-flex justify-content-center">65฿</span>
          </div>
        </div>
      </div>
      <div>
        <div class="menu-item card category-selector" data-categories="all main">
          <img src="/images/menu/somtum.jpg" class="card-img-top"/>
          <div class="card-body">
            <h3 class="card-title text-center">Somtum</h3>
            <p class="card-text text-center">ส้มตำ</p>
            <span class="price d-flex justify-content-center">55฿</span>
          </div>
        </div>
      </div>
      <div class="menu-item card category-selector" data-categories="all main">
        <img src="/images/menu/padkrapow.jpg" class="card-img-top"/>
        <div class="card-body">
          <h3 class="card-title text-center">Pad Krapow (Pork)</h3>
          <p class="card-text text-center">ผัดกะเพราหมู</p>
          <span class="price d-flex justify-content-center">55฿</span>
        </div>
      </div>
      <div class="menu-item card category-selector" data-categories="all main">
        <img src="/images/menu/omelette.jpg" class="card-img-top"/>
        <div class="card-body">
          <h3 class="card-title text-center">Omelette</h3>
          <p class="card-text text-center">ไข่เจียว</p>
          <span class="price d-flex justify-content-center">50฿</span>
        </div>
      </div>
      <div class="menu-item card category-selector" data-categories="all main">
        <img src="/images/menu/beefnoodles.jpg" class="card-img-top"/>
        <div class="card-body">
          <h3 class="card-title text-center">Beef Noodles</h3>
          <p class="card-text text-center">ก๋วยเตี๋ยวเนื้อ</p>
          <span class="price d-flex justify-content-center">55฿</span>
        </div>
      </div>
      <div class="menu-item card category-selector" data-categories="all main">
        <img src="/images/menu/pizza.jpg" class="card-img-top"/>
        <div class="card-body">
          <h3 class="card-title text-center">Pizza</h3>
          <p class="card-text text-center">พิซซ่า</p>
          <span class="price d-flex justify-content-center">100฿</span>
        </div>
      </div>
    </div>
    <div class="d-flex flex-wrap mt-3 ml-2">
      <div>
        <div class="menu-item card category-selector" data-categories="all main">
          <img src="/images/menu/friedchicken.jpg" class="card-img-top"/>
          <div class="card-body">
            <h3 class="card-title text-center">Fried Chicken</h3>
            <p class="card-text text-center">ไก่ทอด</p>
            <span class="price d-flex justify-content-center">70฿</span>
          </div>
        </div>
      </div>
      <div>
        <div class="menu-item card category-selector" data-categories="all appetizer">
          <img src="/images/menu/strawberrycake.jpg" class="card-img-top"/>
          <div class="card-body">
            <h3 class="card-title text-center">Strawberry Cake</h3>
            <p class="card-text text-center">เค้กสตรอเบอรี่</p>
            <span class="price d-flex justify-content-center">120฿</span>
          </div>
        </div>
      </div>
      <div class="menu-item card category-selector" data-categories="all appetizer">
        <img src="/images/menu/browniecake.jpeg" class="card-img-top"/>
        <div class="card-body">
          <h3 class="card-title text-center">Brownie Cake</h3>
          <p class="card-text text-center">เค้กบราวนี่</p>
          <span class="price d-flex justify-content-center">120฿</span>
        </div>
      </div>
      <div class="menu-item card category-selector" data-categories="all appetizer">
        <img src="/images/menu/mangostickyrice.jpg" class="card-img-top"/>
        <div class="card-body">
          <h3 class="card-title text-center">Mango Sticky Rice</h3>
          <p class="card-text text-center">ข้าวเหนียวมะม่วง</p>
          <span class="price d-flex justify-content-center">50฿</span>
        </div>
      </div>
      <div class="menu-item card category-selector" data-categories="all appetizer">
        <img src="/images/menu/milkbuttertoast.jpg" class="card-img-top"/>
        <div class="card-body">
          <h3 class="card-title text-center">Milk Butter Toast</h3>
          <p class="card-text text-center">ขนมปังปิ้งเนย นม น้ำตาล</p>
          <span class="price d-flex justify-content-center">40฿</span>
        </div>
      </div>
      <div class="menu-item card category-selector" data-categories="all main">
        <img src="/images/menu/americanfriedrice.jpg" class="card-img-top"/>
        <div class="card-body">
          <h3 class="card-title text-center">American Fried Rice</h3>
          <p class="card-text text-center">ข้าวผัดอเมริกัน</p>
          <span class="price d-flex justify-content-center">60฿</span>
        </div>
      </div>
    </div>
    <div id="popup-modal" class="modal">
      <div class="modal-content">
        <span class="close">&times;</span>
        <div id="popup-content"></div>
      </div>
    </div>
    <!-- Scripts -->
    <script src="https://code.jquery.com/jquery-3.5.1.slim.min.js"></script>
    <script src="https://cdn.jsdelivr.net/npm/@fortawesome/fontawesome-free@5.15.1/js/all.min.js"></script>
    <script src="https://cdnjs.cloudflare.com/ajax/libs/popper.js/1.12.9/umd/popper.min.js"></script>
    <script src="https://maxcdn.bootstrapcdn.com/bootstrap/4.0.0/js/bootstrap.min.js"></script>
    <script src="/js/dropdown.js"></script>
    <script src="/js/backbutton.js"></script>
    <script src="/js/logout.js"></script>
    <script src="/js/category-selector.js"></script>
    <script src="/js/search.js"></script>
    <script src="/js/clickon-popup.js"></script>
    <script src="/js/addtocart.js"></script>
  </body>
</html>