<!DOCTYPE html>
<html lang="en">
  <head>
    <title>Order Map</title>
    <meta charset="UTF-8" />
    <meta http-equiv="X-UA-Compatible" content="IE=edge" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0 shrink-to-fit=no"/>
    <!-- CSS & Leaflet -->
    <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/4.0.0/css/bootstrap.min.css"/>
    <link rel="stylesheet" href="https://unpkg.com/leaflet@1.9.3/dist/leaflet.css"
      integrity="sha256-kLaT2GOSpHechhsozzB+flnD+zUyjE2LlfWPgU04xyI="
      crossorigin=""/>
    <link rel="stylesheet" href="/css/ordermap.css" />
    <link rel="stylesheet" href="/css/navbar.css" />
  </head>
  <body>
    <!-- Navigation Bar -->
    <%- include ('partials/navbar') %>
    <div class="container">
      <div class="d-flex justify-content-between align-items-center" id="map">
      </div>
      <div class="d-flex justify-content-between align-items-center">
        <img src="/images/ui/progressbar.gif" class="progressbar">
        <img src="/images/ui/progressbar2.png" class="progressbar2">
      </div>
      <div class="d-flex justify-content-between align-items-center">
        <h4 class="bold text-center text1">Your order is being prepared!</h4>
      </div>
      <div class="d-flex justify-content-between align-items-center">
        <h4 class="bold text-center text2">Estimated Delivery Time: <span class="text3">10:27 - 10:43AM</span></h4>
      </div>
      <div class="d-flex justify-content-between align-items-center">
        <h4 class="bold text-center text4">We hope you enjoy your delicious meal.</h4>
      </div>
      <div class="d-flex justify-content-between align-items-center">
        <h4 class="bold text-center text5">Thank you for using our service!</h4>
      </div>
    </div>
    <div class="container-fluid"></div>
      <div class="header-box d-flex justify-content-between align-items-center">
        <h4 class="bold text-center text6">Putthipong Ninwong</h4>
        <h5 class="bold text-center text7">10 mins on the way</h5>
      </div>
      <div class="d-flex justify-content-between align-items-center">
        <img src="/images/ui/user.png" class="user-img">
      </div>
      <div class="d-flex justify-content-between align-items-center">
        <a href="message"><img src="/images/ui/messageorder.png" class="message-order"></a>
      </div>
      <div class="d-flex justify-content-between align-items-center">
        <img src="/images/ui/motorbike.png" class="motorbike">
      </div>
      <div class="d-flex justify-content-between align-items-center">
        <img src="/images/ui/thankyou.png" class="ty-img">
      </div>
    </div>
    <script src="https://unpkg.com/leaflet@1.9.3/dist/leaflet.js"
      integrity="sha256-WBkoXOwTeyKclOHuWtc+i2uENFpDZ9YPdf5Hf+D7ewM="
      crossorigin="">
    </script>
    <!-- Scripts -->
    <script src="https://code.jquery.com/jquery-3.5.1.slim.min.js"></script>
    <script src="https://cdnjs.cloudflare.com/ajax/libs/popper.js/1.12.9/umd/popper.min.js"></script>
    <script src="https://maxcdn.bootstrapcdn.com/bootstrap/4.0.0/js/bootstrap.min.js"></script>
    <script src="https://www.mapquestapi.com/sdk/leaflet/v2.2/mq-map.js?key=ck2OXUAJsF0iz999XGQ62jyXo8AXOVp7"></script>
    <script src="https://www.mapquestapi.com/sdk/leaflet/v2.2/mq-routing.js?key=ck2OXUAJsF0iz999XGQ62jyXo8AXOVp7"></script>
    <script src="/js/ordermap.js"></script>
  </body>
</html>
