.input-1 {
  box-sizing: border-box;
  position: absolute;
  width: 482px;
  height: 54px;
  left: 716px;
  top: 246px;
  background: #ffffff;
  border: 1px solid #b5b5b5;
  border-radius: 9px;
}

.input-2 {
  box-sizing: border-box;
  position: absolute;
  width: 482px;
  height: 54px;
  left: 716px;
  top: 318px;
  background: #ffffff;
  border: 1px solid #b5b5b5;
  border-radius: 9px;
}

.input-3 {
  box-sizing: border-box;
  position: absolute;
  width: 482px;
  height: 54px;
  left: 716px;
  top: 390px;
  background: #ffffff;
  border: 1px solid #b5b5b5;
  border-radius: 9px;
}

.input-4 {
  box-sizing: border-box;
  position: absolute;
  width: 482px;
  height: 54px;
  left: 716px;
  top: 463px;
  background: #ffffff;
  border: 1px solid #b5b5b5;
  border-radius: 9px;
}