* {
  box-sizing: border-box;
}

body {
  margin-top: 0px;
  font-family: Arial, sans-serif;
}

.text-center {
  text-align: center;
}

.header {
  display: flex;
  justify-content: space-between;
  align-items: center;
  padding: 24px;
}

.header h1 {
  white-space: nowrap;
}

.bold {
  font-weight: bold;
}

.search-bar {
  display: flex;
  justify-content: space-between;
  align-items: center;
  padding: 16px;
  background-color: transparent;
}

.search-bar input[type="text"] {
  flex: 1;
  padding: 8px;
  border: none;
  border-radius: 18px;
  margin-right: 16px;
  background-color: #f4f6f9;
  width: 1650px;
}

#next-button {
  margin-left: 25px;
}

.menu-item {
  display: flex;
  flex-wrap: wrap;
  justify-content: flex-start;
  align-items: center;
  background-color: #f2f2f2;
  border-style: solid;
  border-color: black;
  margin-left: 16px;
  border-radius: 20px;
  width: 293.5px;
}

.menu-item:hover {
  cursor: url('/images/ui/cursor.png'), auto;
}

.menu-item img {
  width: 120px;
  height: 120px;
  margin-top: 26px;
  object-fit: cover;
  border-radius: 50%;
}

.menu-item .card-img-top {
  display: block;
  margin-left: auto;
  margin-right: auto;
}

.menu-item-details {
  flex: 1;
  margin-left: 16px;
}

.menu-item-details h2 {
  margin-top: 0;
}

.menu-item-details p {
  margin-bottom: 0;
}

.price {
  font-size: 24px;
  font-weight: bold;
}

.discount {
  text-decoration: line-through;
}

.discount-price {
  padding: 0 5px;
}

.search-button {
  width: 110px;
  margin-left: 2px;
}

.dropdown-menu {
  font-size: 22px;
  top: 55px;
  right: 40px;
  left: 39px;
  background-color: #ffffff;
  border-style: solid;
  border-width: 5px;
  border-color: #f43f5e1a;
}

.dropdown-item:hover {
  background-color: #f43f5e1a;
}

.dropdown-item:active {
  color: #000000;
  background-color: #f43f5e;
}

.category {
  width: 42px;
  height: 40px;
  margin-left: 21px;
  background-image: url('https://sv1.img.in.th/U3RqNg.png');
  background-color: #f43f5e1a;
  border-color: #f43f5e1a;
  outline: none;
}

.category:hover, .category:active, .category:focus, .dropdown.show .category {
  background-color: #f43f5e1a;
  border-color: #f43f5e1a;
  outline: none;
}

.transparent {
  display: block;
  margin-left: -13px;
  margin-top: -7px;
  position: relative;
  z-index: -1;
}