/* styles for mobile */
@media only screen and (max-width: 390px) {
  
  body {
    overflow: hidden;
  }

  .logo {
    margin-top: 30px;
    max-width: 60%;
    margin-left: auto;
    margin-right: auto;
  }

  h1 {
    font-size: 24px;
  }

  p {
    font-size: 16px;
  }

  .form-group {
    margin-bottom: 10px;
  }

  input[type="text"],
  input[type="password"] {
    font-size: 16px;
  }

  .btn {
    font-size: 16px;
    padding: 12px;
  }

  .container {
    margin-top: 12rem;
    display: flex;
    flex-direction: column;
    align-items: center;
  }
}