.order-summary {
  display: flex;
  flex-direction: column;
  padding: 24px;
  gap: 8px;
  width: 500px;
  height: 290px;
  margin-top: 15px;
  background: linear-gradient(315deg, #ff1843 -0.12%, #ff7e95 99.88%);
  box-shadow: 12px 26px 50px rgba(90, 108, 234, 0.08);
  border-radius: 24px;
  order: 1;
  align-self: stretch;
  flex-grow: 0;
}

.order-color {
  color: #ffffff;
}

.text-center {
  text-align: center;
}

.custom-text {
  margin-top: -12px;
  margin-bottom: 12px;
}

.span-text {
  font-size: 18px;
}

.subtotal {
  margin-left: 329px;
}

.delivery-charge {
  margin-left: 275px;
}

.discount {
    margin-left: 340px;
}

.total {
    margin-left: 357px;
}

.confirm-btn {
  width: 300px;
  color: #f43f5e;
  background-color: #ffffff;
  border: none;
  margin-left: 75px;
  border-radius: 25px;
  padding: 10px 20px;
  font-size: 18px;
  font-weight: bold;
}

.confirm-btn:hover {
  cursor: url("/images/ui/cursor.png"), auto;
}
