@media only screen and (min-width: 768px) and (max-width: 1024px) {
  .input-1 {
    height: 50px;
    width: 440px;
    left: 190px;
  }

  .input-2 {
    height: 50px;
    width: 440px;
    left: 190px;
  }

  .input-3 {
    height: 50px;
    width: 440px;
    left: 190px;
  }

  .input-4 {
    height: 50px;
    width: 440px;
    left: 190px;
  }
}