@media only screen and (max-width: 480px) {
  .input-1 {
    height: 40px;
    width: 340px;
    left: 23px;
  }

  .input-2 {
    height: 40px;
    width: 340px;
    left: 23px;
  }

  .input-3 {
    height: 40px;
    width: 340px;
    left: 23px;
  }

  .input-4 {
    height: 40px;
    width: 340px;
    left: 23px;
  }
}