@media only screen and (max-width: 480px) {
  h3 {
    margin-left: 23px;
    margin-top: 37px;
    font-size: 20px;
  }

  #back-button {
    margin-bottom: -137px;
    margin-left: -168px;
  }

  .submit-btn {
    width: 340px;
    height: 50px;
    left: 23px;
    top: 550px;
  }

  .navbar {
    width: 100%auto;
    height: 75px;
  }

  .link-item {
    margin-left: -40px;
  }

  .navbar img {
    height: 30px;
    width: 30px;
    font-size: 20px;
  }

  .profile-link {
    margin-right: -100px;
  }

  .home-link {
    margin-left: -30px;
  }

  .cart-link {
    margin-right: 23px;
  }

  .message-link {
    margin-right: -14px;
  }
}