@media only screen and (max-width: 480px) {
  #map {
    height: 400px;
    width: 350px;
    margin-left: -90px;
    margin-top: 15px;
  }

  .progressbar {
    margin-top: 20px;
    margin-left: -91px;
    width: 350px;
  }

  .progressbar2 {
    margin-top: 20px;
    margin-right: 99px;
    width: 350px;
  }

  .motorbike {
    width: 0px;
    height: 0px;
  }

  .ty-img {
    width: 0px;
    height: 0px;
  }

  .text1 {
    font-weight: bold;
    font-size: 18px;
    margin-left: -35px;
    margin-top: 30px;
  }

  .text2 {
    font-weight: bold;
    font-size: 18px;
    margin-left: -77px;
  }

  .text4 {
    font-weight: bold;
    font-size: 18px;
    margin-left: -75px;
    margin-top: 30px;
  }

  .text5 {
    font-weight: bold;
    font-size: 18px;
    margin-left: -45px;
  }

  .navbar {
    width: 100%auto;
    height: 75px;
  }

  .link-item {
    margin-left: -40px;
  }

  .navbar img {
    height: 30px;
    width: 30px;
    font-size: 20px;
  }

  .profile-link {
    margin-right: -100px;
  }

  .home-link {
    margin-left: -30px;
  }

  .cart-link {
    margin-right: 23px;
  }

  .message-link {
    margin-right: -14px;
  } 

  .header-box {
    margin-top: 12px;
    margin-left: 44px;
    height: 90px;
    width: 300px;
  }

  .user-img {
    margin-top: -95px;
    margin-left: 60px;
    height: 50px;
    width: 50px;
  }

  .text6 {
    font-weight: bold;
    font-size: 16px;
    margin-top: 20px;
    margin-left: 15px;
  }
  
  .text7 {
    font-weight: bold;
    font-size: 14px;
    margin-top: -5px;
    margin-bottom: 50px;
    margin-left: -12px;
  }

  .message-order {
    margin-top: -120px;
    margin-left: 290px;
    height: 35px;
    width: 35px;
  }
}
