@media only screen and (max-width: 480px) {
  .order-summary {
    margin-top: 0px;
    width: 300px;
  }

  .subtotal {
    margin-left: 130px;
  }

  .delivery-charge {
    margin-left: 77px;
  }

  .discount {
    margin-left: 143px;
  }

  .total {
    margin-left: 161px;
  }

  .confirm-btn {
    width: 200px;
    margin-left: 25px;
  }

  .navbar {
    margin-bottom: -830px;
  }
}